@-ms-viewport
{
	width: 480px;
}

@-webkit-viewport
{
	width: 480px;
}

@-o-viewport
{
	width: 480px;
}

@-moz-viewport
{
	width: 480px;
}

@viewport
{
	width: 480px;
}

html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 480px;
	min-height: 799.9830000000013px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	background: transparent url("../images/bg-hand01.jpg") no-repeat left top;
}

#page_position_content
{
	margin-bottom: 1468px;
}

#tab-panelu6401
{
	z-index: 2;
	width: 480px;
	padding-bottom: 0px;
}

#u6420
{
	z-index: 3;
	width: 100%;
}

#u6425
{
	z-index: 4;
	width: 95px;
	min-height: 74px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u6425:hover
{
	width: 95px;
	min-height: 74px;
	margin: 0px -10000px 0px 0px;
}

#u6426
{
	z-index: 5;
	width: 60px;
	height: 54px;
	margin-left: 17px;
}

#u6425:hover #u6426
{
	margin: 0px 0px 0px 17px;
}

#u6425:active #u6426
{
	margin: 0px 0px 0px 17px;
}

#u6428-4
{
	z-index: 6;
	width: 95px;
	min-height: 20px;
}

#u6425:hover #u6428-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6425:active #u6428-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6437
{
	z-index: 10;
	width: 95px;
	min-height: 74px;
	padding-bottom: 2px;
	margin-right: -10000px;
	left: 95px;
}

#u6425.TabbedPanelsTabSelected,#u6437:hover
{
	width: 95px;
	min-height: 74px;
	margin: 0px -10000px 0px 0px;
}

#u6440
{
	z-index: 11;
	width: 60px;
	height: 54px;
	margin-left: 17px;
}

#u6425.TabbedPanelsTabSelected #u6426,#u6437:hover #u6440
{
	margin: 0px 0px 0px 17px;
}

#u6437:active #u6440
{
	margin: 0px 0px 0px 17px;
}

#u6439-4
{
	z-index: 12;
	width: 95px;
	min-height: 20px;
}

#u6425.TabbedPanelsTabSelected #u6428-4,#u6437:hover #u6439-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6437:active #u6439-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6433
{
	z-index: 16;
	width: 95px;
	min-height: 74px;
	padding-bottom: 2px;
	margin-right: -10000px;
	left: 191px;
}

#u6437.TabbedPanelsTabSelected,#u6433:hover
{
	width: 95px;
	min-height: 74px;
	margin: 0px -10000px 0px 0px;
}

#u6435
{
	z-index: 17;
	width: 60px;
	height: 54px;
	margin-left: 17px;
}

#u6437.TabbedPanelsTabSelected #u6440,#u6433:hover #u6435
{
	margin: 0px 0px 0px 17px;
}

#u6433:active #u6435
{
	margin: 0px 0px 0px 17px;
}

#u6436-4
{
	z-index: 18;
	width: 95px;
	min-height: 20px;
}

#u6437.TabbedPanelsTabSelected #u6439-4,#u6433:hover #u6436-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6433:active #u6436-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6421
{
	z-index: 22;
	width: 95px;
	min-height: 74px;
	padding-bottom: 2px;
	margin-right: -10000px;
	left: 287px;
}

#u6433.TabbedPanelsTabSelected,#u6421:hover
{
	width: 95px;
	min-height: 74px;
	margin: 0px -10000px 0px 0px;
}

#u6421.TabbedPanelsTabSelected
{
	width: 95px;
	min-height: 74px;
	margin: 0px -10000px 0px 0px;
}

#u6423
{
	z-index: 23;
	width: 60px;
	height: 54px;
	margin-left: 17px;
}

#u6433.TabbedPanelsTabSelected #u6435,#u6421:hover #u6423
{
	margin: 0px 0px 0px 17px;
}

#u6421:active #u6423
{
	margin: 0px 0px 0px 17px;
}

#u6421.TabbedPanelsTabSelected #u6423
{
	margin: 0px 0px 0px 17px;
}

#u6422-4
{
	z-index: 24;
	width: 95px;
	min-height: 20px;
}

#u6433.TabbedPanelsTabSelected #u6436-4,#u6421:hover #u6422-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6421:active #u6422-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6429
{
	z-index: 28;
	width: 96px;
	min-height: 74px;
	padding-bottom: 2px;
	margin-right: -10000px;
	left: 383px;
}

#u6429:hover
{
	width: 96px;
	min-height: 74px;
	margin: 0px -10000px 0px 0px;
}

#u6429.TabbedPanelsTabSelected
{
	width: 96px;
	min-height: 74px;
	margin: 0px -10000px 0px 0px;
}

#u6430
{
	z-index: 29;
	width: 60px;
	height: 54px;
	margin-left: 18px;
}

#u6429:hover #u6430
{
	margin: 0px 0px 0px 18px;
}

#u6429:active #u6430
{
	margin: 0px 0px 0px 18px;
}

#u6429.TabbedPanelsTabSelected #u6430
{
	margin: 0px 0px 0px 18px;
}

#u6431-4
{
	z-index: 30;
	width: 96px;
	min-height: 20px;
}

#u6421.TabbedPanelsTabSelected #u6422-4,#u6429:hover #u6431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6429:active #u6431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6429.TabbedPanelsTabSelected #u6431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6441
{
	z-index: 34;
	width: 100%;
}

#u6492
{
	z-index: 35;
	margin-right: -10000px;
	width: 100%;
}

#accordionu6493
{
	z-index: 36;
	width: 480px;
	margin-right: -10000px;
}

#u6494
{
	z-index: 37;
	width: 480px;
}

#u6495-4
{
	z-index: 38;
	width: 460px;
	min-height: 18px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#u6495-4:hover
{
	padding-top: 20px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u6496
{
	z-index: 42;
	width: 440px;
	margin-left: 20px;
	margin-top: 24px;
	margin-bottom: 48px;
}

#u6497-19
{
	z-index: 43;
	width: 440px;
	min-height: 158px;
	margin-right: -10000px;
}

#u6511
{
	z-index: 62;
	width: 480px;
	margin-top: 1px;
}

#u6512-4
{
	z-index: 63;
	width: 460px;
	min-height: 18px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#u6495-4.AccordionPanelTabOpen,#u6512-4:hover
{
	padding-top: 20px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u6512-4.AccordionPanelTabOpen
{
	padding-top: 20px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u6513
{
	z-index: 67;
	width: 400px;
	margin-left: 40px;
	margin-top: 1px;
	margin-bottom: 3px;
}

#u6514
{
	z-index: 68;
	width: 400px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u6519
{
	z-index: 69;
	width: 400px;
}

#u6515
{
	z-index: 71;
	width: 400px;
	margin-top: 8px;
}

#u6517
{
	z-index: 73;
	width: 400px;
	margin-top: 3px;
}

#u6449
{
	z-index: 75;
	height: 1564px;
	margin-bottom: -1467px;
	margin-right: -10000px;
	width: 100%;
}

#u6442
{
	z-index: 76;
	height: 1564px;
	margin-bottom: -1467px;
	margin-right: -10000px;
	width: 100%;
}

#u6521
{
	z-index: 77;
	height: 1564px;
	margin-bottom: -1467px;
	margin-right: -10000px;
	width: 100%;
}

#u6614
{
	z-index: 78;
	height: 1564px;
	margin-bottom: -1467px;
	margin-right: -10000px;
	width: 100%;
}

.ie #u6449,.ie #u6442,.ie #u6521,.ie #u6614
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#page .verticalspacer
{
	clear: both;
}

