@-ms-viewport
{
	width: 480px;
}

@-webkit-viewport
{
	width: 480px;
}

@-o-viewport
{
	width: 480px;
}

@-moz-viewport
{
	width: 480px;
}

@viewport
{
	width: 480px;
}

html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 480px;
	min-height: 799.9830000000013px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	background: transparent url("../images/bg-hand01.jpg") no-repeat left top;
}

#page_position_content
{
	margin-bottom: 929px;
}

#tab-panelu6723
{
	z-index: 2;
	width: 480px;
	padding-bottom: 0px;
}

#u6724
{
	z-index: 3;
	width: 100%;
}

#u6737
{
	z-index: 4;
	width: 95px;
	min-height: 74px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u6737:hover
{
	width: 95px;
	min-height: 74px;
	margin: 0px -10000px 0px 0px;
}

#u6739
{
	z-index: 5;
	width: 60px;
	height: 54px;
	margin-left: 17px;
}

#u6737:hover #u6739
{
	margin: 0px 0px 0px 17px;
}

#u6737:active #u6739
{
	margin: 0px 0px 0px 17px;
}

#u6740-4
{
	z-index: 6;
	width: 95px;
	min-height: 20px;
}

#u6737:hover #u6740-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6737:active #u6740-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6733
{
	z-index: 10;
	width: 95px;
	min-height: 74px;
	padding-bottom: 2px;
	margin-right: -10000px;
	left: 95px;
}

#u6737.TabbedPanelsTabSelected,#u6733:hover
{
	width: 95px;
	min-height: 74px;
	margin: 0px -10000px 0px 0px;
}

#u6735
{
	z-index: 11;
	width: 60px;
	height: 54px;
	margin-left: 17px;
}

#u6737.TabbedPanelsTabSelected #u6739,#u6733:hover #u6735
{
	margin: 0px 0px 0px 17px;
}

#u6733:active #u6735
{
	margin: 0px 0px 0px 17px;
}

#u6734-4
{
	z-index: 12;
	width: 95px;
	min-height: 20px;
}

#u6737.TabbedPanelsTabSelected #u6740-4,#u6733:hover #u6734-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6733:active #u6734-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6741
{
	z-index: 16;
	width: 95px;
	min-height: 74px;
	padding-bottom: 2px;
	margin-right: -10000px;
	left: 191px;
}

#u6733.TabbedPanelsTabSelected,#u6741:hover
{
	width: 95px;
	min-height: 74px;
	margin: 0px -10000px 0px 0px;
}

#u6743
{
	z-index: 17;
	width: 60px;
	height: 54px;
	margin-left: 17px;
}

#u6733.TabbedPanelsTabSelected #u6735,#u6741:hover #u6743
{
	margin: 0px 0px 0px 17px;
}

#u6741:active #u6743
{
	margin: 0px 0px 0px 17px;
}

#u6744-4
{
	z-index: 18;
	width: 95px;
	min-height: 20px;
}

#u6733.TabbedPanelsTabSelected #u6734-4,#u6741:hover #u6744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6741:active #u6744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6729
{
	z-index: 22;
	width: 95px;
	min-height: 74px;
	padding-bottom: 2px;
	margin-right: -10000px;
	left: 287px;
}

#u6741.TabbedPanelsTabSelected,#u6729:hover
{
	width: 95px;
	min-height: 74px;
	margin: 0px -10000px 0px 0px;
}

#u6729.TabbedPanelsTabSelected
{
	width: 95px;
	min-height: 74px;
	margin: 0px -10000px 0px 0px;
}

#u6732
{
	z-index: 23;
	width: 60px;
	height: 54px;
	margin-left: 17px;
}

#u6741.TabbedPanelsTabSelected #u6743,#u6729:hover #u6732
{
	margin: 0px 0px 0px 17px;
}

#u6729:active #u6732
{
	margin: 0px 0px 0px 17px;
}

#u6729.TabbedPanelsTabSelected #u6732
{
	margin: 0px 0px 0px 17px;
}

#u6731-4
{
	z-index: 24;
	width: 95px;
	min-height: 20px;
}

#u6741.TabbedPanelsTabSelected #u6744-4,#u6729:hover #u6731-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6729:active #u6731-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6725
{
	z-index: 28;
	width: 96px;
	min-height: 74px;
	padding-bottom: 2px;
	margin-right: -10000px;
	left: 383px;
}

#u6725:hover
{
	width: 96px;
	min-height: 74px;
	margin: 0px -10000px 0px 0px;
}

#u6725.TabbedPanelsTabSelected
{
	width: 96px;
	min-height: 74px;
	margin: 0px -10000px 0px 0px;
}

#u6728
{
	z-index: 29;
	width: 60px;
	height: 54px;
	margin-left: 18px;
}

#u6725:hover #u6728
{
	margin: 0px 0px 0px 18px;
}

#u6725:active #u6728
{
	margin: 0px 0px 0px 18px;
}

#u6725.TabbedPanelsTabSelected #u6728
{
	margin: 0px 0px 0px 18px;
}

#u6726-4
{
	z-index: 30;
	width: 96px;
	min-height: 20px;
}

#u6729.TabbedPanelsTabSelected #u6731-4,#u6725:hover #u6726-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6725:active #u6726-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6725.TabbedPanelsTabSelected #u6726-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u6745
{
	z-index: 34;
	width: 100%;
}

#u6747
{
	z-index: 35;
	height: 1074px;
	margin-bottom: -928px;
	margin-right: -10000px;
	width: 100%;
}

#u6750
{
	z-index: 36;
	margin-right: -10000px;
	width: 100%;
}

#accordionu6769
{
	z-index: 37;
	width: 480px;
	margin-right: -10000px;
}

#u6799
{
	z-index: 38;
	width: 480px;
}

#u6810-4
{
	z-index: 39;
	width: 460px;
	min-height: 18px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#u6810-4:hover
{
	padding-top: 20px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u6810-4:active
{
	padding-top: 20px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u6800
{
	z-index: 43;
	width: 291px;
	margin-left: 95px;
	margin-top: 5px;
	margin-bottom: 9px;
}

#u6801
{
	z-index: 44;
	width: 291px;
	margin-right: -10000px;
}

#pu6806
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u6806
{
	z-index: 51;
	width: 128px;
}

#u6804
{
	z-index: 47;
	width: 128px;
	margin-top: 38px;
}

#pu6808
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 163px;
}

#u6808
{
	z-index: 45;
	width: 128px;
}

#u6802
{
	z-index: 49;
	width: 128px;
	margin-top: 38px;
}

#u6791
{
	z-index: 53;
	width: 480px;
	margin-top: 1px;
}

#u6792-4
{
	z-index: 54;
	width: 460px;
	min-height: 18px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#u6810-4.AccordionPanelTabOpen,#u6792-4:hover
{
	padding-top: 20px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u6792-4:active
{
	padding-top: 20px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u6793
{
	z-index: 58;
	width: 291px;
	margin-left: 95px;
	margin-top: 18px;
	margin-bottom: 35px;
}

#u6794
{
	z-index: 59;
	width: 291px;
	margin-right: -10000px;
}

#u6797
{
	z-index: 60;
	width: 128px;
	margin-right: -10000px;
}

#u6795
{
	z-index: 62;
	width: 128px;
	margin-right: -10000px;
	left: 163px;
}

#u6783
{
	z-index: 64;
	width: 480px;
	margin-top: 1px;
}

#u6784-4
{
	z-index: 65;
	width: 460px;
	min-height: 18px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#u6792-4.AccordionPanelTabOpen,#u6784-4:hover
{
	padding-top: 20px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u6784-4:active
{
	padding-top: 20px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u6784-4.AccordionPanelTabOpen
{
	padding-top: 20px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u6785
{
	z-index: 69;
	width: 322px;
	margin-left: 79px;
	margin-top: 23px;
	margin-bottom: 46px;
}

#u6786
{
	z-index: 70;
	width: 322px;
	margin-right: -10000px;
}

#u6789
{
	z-index: 73;
	width: 128px;
	margin-right: -10000px;
}

#u6787
{
	z-index: 71;
	width: 128px;
	margin-right: -10000px;
	left: 194px;
}

#u6746
{
	z-index: 75;
	height: 1074px;
	margin-bottom: -928px;
	margin-right: -10000px;
	width: 100%;
}

#u6748
{
	z-index: 76;
	height: 1074px;
	margin-bottom: -928px;
	margin-right: -10000px;
	width: 100%;
}

#u6749
{
	z-index: 77;
	height: 1074px;
	margin-bottom: -928px;
	margin-right: -10000px;
	width: 100%;
}

.ie #u6747,.ie #u6746,.ie #u6748,.ie #u6749
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#page .verticalspacer
{
	clear: both;
}

