#u6849
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666666;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u6849:hover
{
	background-color: #FFFFFF;
}

#u6850
{
	position: relative;
	background: transparent url("../images/icons-notext_%e4%b8%aa%e4%ba%ba%e7%ae%80%e4%bb%8b60x54.png") no-repeat left top;
}

#u6849:hover #u6850
{
	background: transparent url("../images/icons-notext_%e4%b8%aa%e4%ba%ba%e7%ae%80%e4%bb%8b60x64.png") no-repeat left top;
}

#u6849:active #u6850
{
	background: transparent url("../images/icons-notext_%e4%b8%aa%e4%ba%ba%e7%ae%80%e4%bb%8b60x54.png") no-repeat left top;
}

#u6849.TabbedPanelsTabSelected #u6850
{
	background: transparent url("../images/icons-notext_%e4%b8%aa%e4%ba%ba%e7%ae%80%e4%bb%8b60x64.png") no-repeat left top;
}

#u6852-4
{
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u6849:hover #u6852-4
{
	border-color: #999999;
}

#u6849:active #u6852-4
{
	border-color: #999999;
}

#u6861
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666666;
	position: relative;
	border-width: 0px 1px;
}

#u6861:hover
{
	background-color: #FFFFFF;
}

#u6864
{
	position: relative;
	background: transparent url("../images/icons-notext_%e5%b8%b8%e7%94%a8%e8%bd%af%e4%bb%b660x54.png") no-repeat left top;
}

#u6861:hover #u6864
{
	background: transparent url("../images/icons-notext_%e5%b8%b8%e7%94%a8%e8%bd%af%e4%bb%b660x64.png") no-repeat left top;
}

#u6861:active #u6864
{
	background: transparent url("../images/icons-notext_%e5%b8%b8%e7%94%a8%e8%bd%af%e4%bb%b660x54.png") no-repeat left top;
}

#u6861.TabbedPanelsTabSelected #u6864
{
	background: transparent url("../images/icons-notext_%e5%b8%b8%e7%94%a8%e8%bd%af%e4%bb%b660x64.png") no-repeat left top;
}

#u6863-4
{
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u6861:hover #u6863-4
{
	border-color: #999999;
}

#u6861:active #u6863-4
{
	border-color: #999999;
}

#u6857
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666666;
	position: relative;
	border-width: 0px 1px;
}

#u6857:hover
{
	background-color: #FFFFFF;
}

#u6859
{
	position: relative;
	background: transparent url("../images/icons-notext_%e8%bf%94%e5%9b%9e%e9%a6%96%e9%a1%b560x54.png") no-repeat left top;
}

#u6857:hover #u6859
{
	background: transparent url("../images/icons-notext_%e8%bf%94%e5%9b%9e%e9%a6%96%e9%a1%b560x64.png") no-repeat left top;
}

#u6857:active #u6859
{
	background: transparent url("../images/icons-notext_%e8%bf%94%e5%9b%9e%e9%a6%96%e9%a1%b560x54.png") no-repeat left top;
}

#u6857.TabbedPanelsTabSelected #u6859
{
	background: transparent url("../images/icons-notext_%e8%bf%94%e5%9b%9e%e9%a6%96%e9%a1%b560x64.png") no-repeat left top;
}

#u6860-4
{
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u6857:hover #u6860-4
{
	border-color: #999999;
}

#u6857:active #u6860-4
{
	border-color: #999999;
}

#u6845
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666666;
	position: relative;
	border-width: 0px 1px;
}

#u6845:hover
{
	background-color: #FFFFFF;
}

#u6847
{
	position: relative;
	background: transparent url("../images/icons-notext_%e4%b8%aa%e4%ba%ba%e6%a1%88%e4%be%8b60x54.png") no-repeat left top;
}

#u6845:hover #u6847
{
	background: transparent url("../images/icons-notext_%e4%b8%aa%e4%ba%ba%e6%a1%88%e4%be%8b60x64.png") no-repeat left top;
}

#u6845:active #u6847
{
	background: transparent url("../images/icons-notext_%e4%b8%aa%e4%ba%ba%e6%a1%88%e4%be%8b60x54.png") no-repeat left top;
}

#u6845.TabbedPanelsTabSelected #u6847
{
	background: transparent url("../images/icons_%e4%b8%aa%e4%ba%ba%e6%a1%88%e4%be%8b60x64.png") no-repeat left top;
}

#u6846-4
{
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u6845:hover #u6846-4
{
	border-color: #999999;
}

#u6845:active #u6846-4
{
	border-color: #999999;
}

#u6853
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666666;
	position: relative;
	border-width: 0px 0px 0px 1px;
}

#u6853:hover
{
	background-color: #FFFFFF;
}

#u6849.TabbedPanelsTabSelected,#u6861.TabbedPanelsTabSelected,#u6857.TabbedPanelsTabSelected,#u6845.TabbedPanelsTabSelected,#u6853.TabbedPanelsTabSelected
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u6854
{
	position: relative;
	background: transparent url("../images/icons-notext_%e8%81%94%e7%b3%bb%e6%88%91%e5%90%a760x54.png") no-repeat left top;
}

#u6853:hover #u6854
{
	background: transparent url("../images/icons-notext_%e8%81%94%e7%b3%bb%e6%88%91%e5%90%a760x64.png") no-repeat left top;
}

#u6853:active #u6854
{
	background: transparent url("../images/icons-notext_%e8%81%94%e7%b3%bb%e6%88%91%e5%90%a760x54.png") no-repeat left top;
}

#u6853.TabbedPanelsTabSelected #u6854
{
	background: transparent url("../images/icons-notext_%e8%81%94%e7%b3%bb%e6%88%91%e5%90%a760x64.png") no-repeat left top;
}

#u6855-4
{
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u6853:hover #u6855-4
{
	border-color: #999999;
}

#u6853:active #u6855-4
{
	border-color: #999999;
}

#u6849.TabbedPanelsTabSelected #u6852-4,#u6861.TabbedPanelsTabSelected #u6863-4,#u6857.TabbedPanelsTabSelected #u6860-4,#u6845.TabbedPanelsTabSelected #u6846-4,#u6853.TabbedPanelsTabSelected #u6855-4
{
	border-style: none;
	border-color: transparent;
}

#u6849.TabbedPanelsTabSelected #u6852-4 p,#u6861.TabbedPanelsTabSelected #u6863-4 p,#u6857.TabbedPanelsTabSelected #u6860-4 p,#u6845.TabbedPanelsTabSelected #u6846-4 p,#u6853.TabbedPanelsTabSelected #u6855-4 p
{
	color: #000000;
	visibility: inherit;
}

#u6868
{
	background-color: transparent;
	position: relative;
}

#U7124_animation
{
	border: none;
}

#u6869
{
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	position: relative;
}

#u6871
{
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	position: relative;
}

#u6870
{
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	position: relative;
}

#u6872
{
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	position: relative;
}

#u6867
{
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	position: relative;
}

#tab-panelu6825,#u6844,#u6865,#u6916,#u6873,#u6866,#u6945,#u7038
{
	position: relative;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

